/* 
i'm bad at organizing CSS okay!!!! don't make fun of me!!
maybe ill just use tailwind next time!!!!!!! >:( 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sono";
  src: url("/Sono-Regular.woff2") format("woff");
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

header {
  font-size: 1.5rem;
  font-family: "Sono";
  padding: 2rem;
}

footer {
  font-size: 0.7rem;
  font-family: "Sono";
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: 1px solid black;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.25rem;
  display: flex;
  flex-grow: 1;
  width: calc(100% - 4rem);
  background-color: rgba(255, 255, 255, 0.8);
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: underline;
  color: inherit;
}

a::after {
  position: relative;
  display: inline-block;
  content: "";
  background: url(/hyperlink.png) no-repeat;
  background-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  /* transform: translateY(0.25rem); */
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 4rem 2rem 4rem 2rem;
}

.scroll-wrapper {
  font-family: "Sono", Courier, monospace;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 2rem 2rem 2rem 2rem;
}

.hero-text {
  font-family: "Sono", Courier, monospace;
  font-size: 3rem;
}

.about-text {
  font-family: "Sono", Courier, monospace;
  font-size: 1.25rem;
  width: 75vw;
  margin: 1rem;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 3rem;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bigdiv {
  height: 1000px;
  width: 200px;
  border: 1px solid black;
}

.spacer {
  margin: 1rem;
}

.text {
  font-family: "Sono", Courier, monospace;
  font-size: 1rem;
}

.text-body {
  display: flex;
  align-items: center;
  margin: 1.5rem 2rem;
}

.black {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  animation: fade 0.2s linear;
}

.black-final {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  animation: fade 1s linear;
}

@keyframes fade {
  0% {
    color: white;
    background-color: black;
  }
  100% {
    color: black;
    background-color: rgba(255, 255, 255, 0);
  }
}

#line1 {
  width: 33vw;
  height: 1px;
  background-color: black;
}

#line2 {
  width: 15vw;
  height: 1px;
  background-color: black;
}

#line3 {
  width:5vw;
  height: 1px;
  background-color: black;
}

#line4 {
  width: 5vw;
  height: 1px;
  background-color: black;
  margin-left: auto;
  margin-right: 0;
}

#line5 {
  width: 33vw;
  height: 1px;
  background-color: black;
}

.line-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.lw-right {
  /* display: flex; */
  /* align-items: end; */
}

.line-wrapper-container {
  display: flex;
  justify-content: space-between;

}

.big-div {
  padding: 4rem;
  width: 80%;
  height: 1600px;
}

.js-img {
  max-height: 50px;
  width: auto;
}

.panel-one-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel-one-text-center {
  width: 100vw;
}

.panel-one-img-wrapper {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 2rem;
}

.panel {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow: clip;
  /* border-top: 1px solid red; */
  border-bottom: 1px dashed rgb(226, 226, 226);
}

.panel-container {
  /* max-height: 100vh; this is handled in JS lol */
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel-border {
  border-left: 1px solid black;
  position: absolute;
  left: 0.5rem;
}

.panel-mid-point {
  /* ;) */
  position: absolute;
  top: 50%;
}

.rescue-wrapper {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  position: absolute;
  z-index: 999;
  top: 6rem;
  right: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  /* box-shadow: 0px 7px 15px -10px rgba(0,0,0,0.75); */
}

.rescue-wrapper:hover {
  border: 1px solid #ff22ee;
}

.rescue-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.408);
  z-index: 900;
  position: absolute;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}

.rescue-modal-wrapper {
  display: none;
  z-index: 901;
  width: 80%;
  /* height: 80%; */
  max-width: 600px;
  max-height: 600px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.modal-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-header {
  font-family: "Sono";
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid black; */
  line-height: 2rem;
}

.modal-button {
  background-color: white;
  border: 1px solid black;
  font-family: "Sono";
  font-size: 1rem;
  cursor:pointer;
}

.modal-button:hover {
  border: 1px solid #ff22ee;
}

#modal-button-2 {
  color: white;
  background-color: black;
  padding: 1rem;
}

#modal-link {
  height: 100%;
  width: 100%;
  display: block;
  padding: 1rem;
}

#contact-4 {
  font-size: 0.75rem;
}

/* shoutout https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ for this tool */
@media only screen and (min-width: 600px) {
  .modal-header {
    font-size: 1.5rem;
  }
  .rescue-wrapper {
    top: 6rem;
    right: 6rem;
  }
  .hero-text {
    font-size: clamp(3rem, 0.7273rem + 6.0606vw, 10rem);
  }
  .hero-wrapper {
    margin: 8rem 2rem 8rem 2rem;
  }
  .panel-one-text-center {
    width: 70vw;
  }
  .panel-one-text-wrapper {
    flex-direction: row;
  }
  .text-body {
    margin: 2rem;
  }
  .text {
    font-size: 1.3rem;
  }
  .about-text {
    font-size: 2.1rem;
  }
  a::after {
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
  }
}